.definitionContainer {
    margin-top: 20px;
}

.title {
    padding: 15px 0;
}

.title h1 {
    font-size: 40px;
}

.sectionHead {
    margin-top: 10px;
    margin-bottom: 5px;
}

.content h2, .content h3, .content h4, .content h5, .content h6 {
    margin-top: 10px;
    font-weight: 200;
    margin-bottom: 0px;
}

.content p{
    padding: 2px 0px;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.content ul {
    list-style-position: inside;
    font-size: 1.1rem;
    padding-left: 10px;
}

@media only screen and (min-width: 320px)  { .definitionContainer{ padding: 0px; } }
@media only screen and (min-width: 768px)  { .definitionContainer{ padding: 0px 5rem; } }
@media only screen and (min-width: 1024px) { .definitionContainer{ padding: 0px 10rem; } }
@media only screen and (min-width: 1900px) { .definitionContainer{ padding: 0px 20rem; } } 