.card {
    margin: 10px 10px;
    flex: 0 0 43%; /* puts everything into 1/2s.. */
    text-decoration: none;
    color: black
}

.card h3 {
    color: black
}
  
.card:hover {
    cursor: pointer;
}
