.fetContainer {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    text-decoration: none;
    color: black;
}

.fetContainer h3 {
    color: black;
}
  
.fetContainer:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (min-width: 320px)  { 
    .fetContainer{ flex-direction: column; } 
}
@media only screen and (min-width: 768px)  { 
    .fetContainer{ 
        flex-direction: row; 
    }
    .imageContainer {
        margin-right: 10px;
        min-width: 300px;
        width: 300px;
    }
}
@media only screen and (min-width: 1024px) {
    .imageContainer {
        margin-right: 20px;
        max-width: 400px;
    }
}

@media only screen and (min-width: 1500px) {
    .imageContainer {
        margin-right: 20px;
        max-width: 500px;
    }
}